<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./src/vue.js"></script>
    <link rel="stylesheet" href="./src/index.css">
</head>
<body>
    <img src="./src/imgs/3.jpg" alt="" style="width: 100px; height: 100px;display: block;">
    <div id="app">
        <p>{{ message }}</p>
<!--        <p>{{ time }}</p>-->
        <button @click="changeMessage" ref="changeRef">改变message</button>
        <div>
            <div v-for="index in tick" :key="index" class="box" :ref="`divRef_${index}`">
                {{index}}
            </div>
        </div>
        <my-model></my-model>
    </div>
    <script type="text/x-template" id="v-model-template">
        <div>
            <input type="text" v-model="name">
            <button @click="printName">name</button>
        </div>
    </script>
    <script>

        Vue.component("MyModel", {
            template: '#v-model-template',
            data() {
                return {
                    name: "hello"
                }
            },
            methods: {
                printName() {
                    console.log(this.name)
                }
            }
        })

        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                time: new Date(),
                tick: 3,
                name: ""
            },
            mounted() {
            },
            methods: {
                changeMessage() {
                    this.tick += 1;
                    this.message = this.tick;

                    //console.log(this.$refs["divRef_1"]);
                },
                
            },
        })
    </script>
</body>
</html>